{% extends 'base.html' %}
{% block body %}
{% if not user.is_authenticated %}
<script language="javascript">
    window.location.href = "http://localhost:8080/"


</script>
{% endif %}
<div class="left-container">
    <br>
</div>
<div class="middle-container">
    <h3>Create Item</h3>
    <form class="item-creation-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Title: {{ form.title }} </p>
        <p>Description:
            <br>
            {{ form.description }}
        </p>
        <p>Type: {{ form.type }}</p>
        <p>Image: {{ form.image }}</p>
        <input type="submit" value="CREATE"/>
    </form>
</div>
<div class="right-container">
    <br>
</div>
{% endblock %}